<div class="row-fluid">
    <span ng-show="loadClient">
        <img src="/img/js/loading.gif" title="{{'CORE.LOADING' | translate}}">
        <span translate="CORE.LOADING"></span>
    </span>

    <span ng-show="!loadClient && !client" translate="CORE.CLIENTS.LOADING_FAILED"></span>

    <div id="clientEditContent" ng-show="!loadClient && client">

        <div id="divClientActionButtons" class=" row-fluid text-left cssBoxCenter">
            <button id="buttonDeleteClient" ng-click="modalDelete()" type="button" class="btn" ng-enbaled="client">
                <i class="icon-trash"></i>
                <span translate="CORE.LABELS.DELETE"></span>
            </button>

            <button ng-click="client.status? deactivate(): activate()" class="btn" ng-enbaled="client">
                <i ng-class="{'icon-minus-sign' : client.status, 'icon-ok-sign': !client.status}"></i>
                {{client.status? 'CORE.LABELS.DEACTIVATE' : 'CORE.LABELS.ACTIVATE' | translate}}
            </button>

            <button id="buttonLoginAsClient" type="button" class="btn" ng-enbaled="client || loadClientLogin"
                    ng-click="loginAsClient()">
                <span translate="CORE.CLIENTS.LOGIN_AS_CLIENT" translate-values="{client: client.label}"></span>
            </button>

            <div class="span2 pull-right cssStatusText cssBigItem">
                <span class="stat" ng-class="{'online' : client.status, 'offline': !client.status}">
                    {{client.status? 'CORE.LABELS.ONLINE' : 'CORE.LABELS.OFFLINE' | translate}}
                </span>
            </div>
        </div>

        <div alert ng-repeat="alert in alerts" type="alert.type">
            {{alert.msg}}
        </div>

        <div class="row-fluid cssBoxCenter">
            <div class="span10">
                <div class="row-fluid">
                    <div id="divClientAvatar" class="cssUserImage span2">
                        <img  ng-src="{{client.avatar? '/avatar/' + client._id : '/img/dummy_user_200.png'}}"
                              class="img-polaroid" alt="{{'CORE.LABELS.AVATAR' | translate}}">
                    </div>

                    <div id="divClientContent" class="offset1 span9">
                        <div maze-dl-wrapper dl-class='row-fluid' ng-class="{cssBigItem: client.company}">
                            <span editable-text="client.company" ng-class="{cssColorGray: !client.company}"
                                  onbeforesave="updateProperty('company', $data);" e-placeholder="{{'CORE.LABELS.COMPANY' | translate}}">
                                {{client.company || 'CORE.LABELS.COMPANY' | translate}}
                            </span>
                        </div>

                        <div class="row-fluid" style="margin-bottom: 20px;">
                            <div maze-dl-wrapper dl-class="pull-left cssItemWithoutLabel cssEditable" ng-class="{cssBigItem: !client.company}">
                                <span editable-text="client.prename" ng-class="{cssColorGray: !client.prename}"
                                      onbeforesave="updateProperty('prename', $data);" e-placeholder="{{'CORE.LABELS.PRENAME' | translate}}">
                                    {{client.prename || 'CORE.LABELS.PRENAME' | translate}}
                                </span>
                            </div>

                            <div maze-dl-wrapper dl-class="pull-left cssItemWithoutLabel cssEditable" ng-class="{cssBigItem: !client.company}">
                                <span editable-text="client.surname" ng-class="{cssColorGray: !client.surname}"
                                      onbeforesave="updateProperty('surname', $data);" e-placeholder="{{'CORE.LABELS.SURNAME' | translate}}">
                                    {{client.surname || 'CORE.LABELS.SURNAME' | translate}}
                                </span>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div maze-dl-wrapper dl-class="pull-left cssItemWithoutLabel cssEditable">
                                <span editable-text="client.street" ng-class="{cssColorGray: !client.street}"
                                      onbeforesave="updateProperty('street', $data);" e-placeholder="{{'CORE.LABELS.STREET' | translate}}">
                                    {{client.street || 'CORE.LABELS.STREET' | translate}}
                                </span>
                            </div>

                            <div maze-dl-wrapper dl-class="pull-left cssItemWithoutLabel cssEditable">
                                <span editable-text="client.houseNumber" ng-class="{cssColorGray: !client.houseNumber}"
                                      onbeforesave="updateProperty('houseNumber', $data);" e-placeholder="{{'CORE.LABELS.HOUSE_NUMBER' | translate}}">
                                    {{client.houseNumber || 'CORE.LABELS.HOUSE_NUMBER' | translate}}
                                </span>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div maze-dl-wrapper dl-class="pull-left cssItemWithoutLabel cssEditable">
                                <span editable-text="client.postcode" ng-class="{cssColorGray: !client.postcode}"
                                      onbeforesave="updateProperty('postcode', $data);" e-placeholder="{{'CORE.LABELS.POSTCODE' | translate}}">
                                    {{client.postcode || 'CORE.LABELS.POSTCODE' | translate}}
                                </span>
                            </div>

                            <div maze-dl-wrapper dl-class="pull-left cssItemWithoutLabel cssEditable">
                                <span editable-text="client.city" ng-class="{cssColorGray: !client.city}"
                                      onbeforesave="updateProperty('city', $data);" e-placeholder="{{'CORE.LABELS.CITY' | translate}}">
                                    {{client.city || 'CORE.LABELS.CITY' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div maze-dl-wrapper dl-class="row-fluid" label="{{'CORE.LABELS.PHONE' | translate}}" dt-class="span3" dd-class="span5 cssEditable">
                        <span editable-text="client.phone" ng-class="{cssColorGray: !client.phone}"
                              onbeforesave="updateProperty('phone', $data);" e-placeholder="{{'CORE.LABELS.PHONE' | translate}}">
                            {{client.phone || 'CORE.LABELS.PHONE' | translate}}
                        </span>
                    </div>

                    <div maze-dl-wrapper dl-class="row-fluid" label="{{'CORE.LABELS.FAX' | translate}}" dt-class="span3" dd-class="span5 cssEditable">
                        <span editable-text="client.fax" ng-class="{cssColorGray: !client.fax}"
                              onbeforesave="updateProperty('fax', $data);" e-placeholder="{{'CORE.LABELS.FAX' | translate}}">
                            {{client.fax || 'CORE.LABELS.FAX' | translate}}
                        </span>
                    </div>

                    <div maze-dl-wrapper dl-class="row-fluid" label="{{'CORE.LABELS.EMAIL_ADDRESS' | translate}}" dt-class="span3" dd-class="span5 cssEditable">
                        <span editable-text="client.email" ng-class="{cssColorGray: !client.email}"
                              onbeforesave="updateProperty('email', $data);" e-placeholder="{{'CORE.LABELS.EMAIL' | translate}}">
                            {{client.email || 'CORE.LABELS.EMAIL' | translate}}
                        </span>
                    </div>

                    <div class="row-fluid cssAdditionalFields" id="additionalFieldsContent">
                        <div maze-additional fields="client.additionalFields" update="updateAdditional($data)"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid cssBoxCenter">
            <ul tabset>
                <li tab heading="{{'CORE.LABELS.SERVICES' | translate}} ({{countObject(client.services) || 0}})">
                    <div ng-include="'/partials/admin/clients/tabs/services.html'"></div>
                </li>
                <li tab heading="{{'CORE.LABELS.NODES' | translate}} ({{(nodes).length || 0}})">
                    <div ng-include="'/partials/admin/clients/tabs/nodes.html'"></div>
                </li>
                <li tab heading="{{'CORE.LABELS.DOMAINS' | translate}} ({{(domains).length || 0}})">
                    <div ng-include="'/partials/admin/clients/tabs/domains.html'"></div>
                </li>
                <li tab heading="{{'CORE.LABELS.ACCESS_DATA' | translate}}">
                    <div ng-include="'/partials/admin/clients/tabs/access.html'"></div>
                </li>
                <li tab heading="{{'CORE.LABELS.LOGS' | translate}}">
                    <div ng-include="'/partials/admin/clients/tabs/logs.html'"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

