<div class="row-fluid">
    <div class="cssToolBar cssPager">

        <div class="span10">
            <span class="pull-right" ng-show="total">
                {{first}}-{{last}} {{'CORE.DIRECTIVES.SEARCH_TOTAL_OF' | translate}} {{total}}
            </span>
        </div>

        <div class="span2 pagination pagination-right">
            <pagination class="pull-right" boundary-links="true" total-items="total" page="page" items-per-page="limit"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;" max-size="0"></pagination>
        </div>
    </div>

    <div class="row-fluid">
        <div class="row-fluid">
            <div alert ng-repeat="error in errorMsg" type="'danger'">{{error}}</div>
        </div>

        <div class="row-fluid" ng-show="loadPager">
            <img alt="{{'CORE.LOADING' | translate}}" src="/img/js/loading.gif">
            <span translate="CORE.LOADING"></span>
        </div>

        <div class="row-fluid" ng-show="!loadPager && (!data || !data.length)">
            <div translate="CORE.DIRECTIVES.SEARCH_NOTHING_FOUND"></div>
        </div>

        <div class="row-fluid">
            <div ng-transclude ng-show="!loadPager && data"></div>
        </div>
    </div>
<div>
