<ul id="tabNodeDomainsList" class="unstyled cssTab">
    <li ng-repeat="domain in domains" id="tabNodeDomainsListEntry-{{domain._id}}" class="row-fluid cssLine">

        <a href="/domains#/edit/{{domain._id}}" title="Label" class="span8">
            {{domain.name}}
        </a>

        <a ng-if="domain.client" href="/clients#/edit/{{domain.client._id}}"
           title="{{domain.client.label}}" class="pull-right">
            <span>
                {{domain.client.label}}
            </span>
        </a>

    </li>
</ul>