
.jsPasswordStrength{
    height:10px;
}

.jsPasswordDescription{
}
.strength0, .strength1, .strength2, .strength3, .strength4, .strength5{
    float:left;
}
.strength0{
	width:10%;
	background:#666;
}

.strength1{
	width:20%;
	background:#ff0000;
}

.strength2{
	width:40%;	
	background:#ff5f5f;
}

.strength3{
	width:60%;
	background:#56e500;
}

.strength4{
	background:#4dcd00;
	width:80%;
}

.strength5{
	background:#399800;
	width:100%;
}
