<div class="modal-header">
    <h3 class="modal-title">
        Remove Service {{service.name}} from client {{client.label}}
    </h3>
</div>

<div class="modal-body">
    <p>
        Should the service {{service.name}} be removed from the client?
    </p>
    <alert ng-repeat="error in errMessages" type="'danger'">
        {{error}}
    </alert>
    <alert ng-repeat="notification in notifyMessages" type="'info'">
        {{notification}}
    </alert>
    <alert ng-repeat="successe in successeMessages" type="'success'">
        {{successe}}
    </alert>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">
        Ok
    </button>
    <button class="btn" ng-click="cancel()">
        Cancel
    </button>
</div>
