<div class="modal-header">
    <h3 class="modal-title">
        <div translate="CORE.CLIENTS.REMOVE_SERVICE" translate-values="{client: client.label, service: service.name}"></div>
    </h3>
</div>

<div class="modal-body">
    <p>
        <div translate="CORE.CLIENTS.DELETE_SERVICE" translate-values="{service: service.name}"></div>
    </p>
    <div alert ng-repeat="error in errMessages" type="'danger'">
        {{error}}
    </div>
    <div alert ng-repeat="notification in notifyMessages" type="'info'">
        {{notification}}
    </div>
    <div alert ng-repeat="successe in successeMessages" type="'success'">
        {{successe}}
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">
        <div translate="CORE.LABELS.OK"></div>
    </button>
    <button class="btn" ng-click="cancel()">
        <div translate="CORE.LABELS.CANCEL"></div>
    </button>
</div>
