<div class="span12">
    <div class="row-fluid cssListing">
        <div class="span12 cssHeaderList">
            <div class="cssButton span12">
                <a class="btn btn-info" href="#/new">
                    Create domain
                </a>
            </div>
        </div>
    </div>

    <div maze-search data="domains" uri="/api/domains">

        <div id="domainListing" class="row-fluid cssListing">
            <ul class="span12 unstyled">
                <li class="row-fluid" ng-repeat="domain in domains">
                    <div class="span12">
                        <a href="#/edit/{{domain._id}}" class="cssListItem span12">
                            <span class="cssAvatar">
                                <img src="/img/dummy_domain_50.png" alt="avatar"/>
                            </span>

                            <span>
                                {{domain.name}}
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
