<div class="row-fluid">
    <div class="span12">

        <div class="row-fluid ">
            <div class="cssUserImage span2">
                <img name="avatar" class="img-polaroid" src="/img/dummy_domain_200.png" alt="avatar">
            </div>

            <div class="span10" id="addDomain">

                <maze-dl-wrapper class="row-fluid" label="domain name *" dt-class="span3" dd-class="span9">
                    <input type="text" id="name" ng-model="domain.name;" required />

                    <alert ng-repeat="alert in formErrors.name" class="alert-danger" >{{alert}}</alert>
                </maze-dl-wrapper>

                <maze-dl-wrapper class="row-fluid" label="domain of client *" dt-class="span3" dd-class="span9">
                    <span href="#" editable-select="domain.owner" e-ng-options="s._id as s.label for s in clients"
                          id="owner" onaftersave="changeclient($data);">
                        {{selected.label || "Choose client"}}
                    </span>

                    <alert ng-repeat="alert in formErrors.owner" class="alert-danger" >{{alert}}</alert>
                </maze-dl-wrapper>

                <maze-dl-wrapper class="row-fluid" label="procurement place" dt-class="span3" dd-class="span9">
                    <input type="text" id="procurementplace" ng-model="domain.procurementplace;">
                </maze-dl-wrapper>

                <div class="row-fluid">
                    <button type="button" class="btn btn-info" ng-click="cancelCreation()">
                        cancel
                    </button>
                    <button class="btn btn-info jsButton" ng-click="createDomain();"
                            ng-disabled="!domain.name || !domain.owner">
                        save
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>