<div class="span12">

    <span ng-show="loadUnregisteredNodes">
        <img src="/img/js/loading.gif" title="{{'CORE.LOADING' | translate}}">
        <span translate="CORE.LOADING"></span>
    </span>

    <span ng-show="!loadUnregisteredNodes && !unregisteredNodes" translate="CORE.NODES.LOADING_DOMAINS_FAILED"></span>

    <div class="row-fluid cssListingDiff" ng-show="!loadUnregisteredNodes && unregisteredNodes">
        <div class="alert" ng-show="unregisteredNodes">
            <div class=" row-fluid">
                <strong translate="CORE.MESSAGES.ATTENTION"></strong>
                <span translate="CORE.NODES.FOUND_NEW_NODES"></span>
            </div>

            <ul class="row-fluid unstyled">
                <li ng-repeat="nodeLog in unregisteredNodes" id="itemUnregisteredNode-{{nodeLog._id}}">
                    <div class="span10">

                        <a ng-href="#/nodes/register/{{nodeLog.contextId}}" class="cssListItem span12" title="{{'CORE.NODES.UNREGISTERED_NODE' | translate}}">
                            <span class="cssAvatar">
                                <img src="/img/dummy_node_50_red.png" alt="{{'CORE.LABELS.AVATAR' | translate}}"/>
                            </span>
                            <span>
                                {{nodeLog.contextId}}
                            </span>
                        </a>

                    </div>
                    <div class="span2 cssAction">
                        <a ng-href="#/nodes/register/{{nodeLog.contextId}}" class="btn btn-mini btn-danger" title="{{'CORE.NODES.REGISTER' | translate}}">
                            <i class="icon-wrench icon-white"></i>
                            <span translate="CORE.NODES.REGISTER"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div maze-search search="search" data="nodes" uri="/api/nodes">

            <div id="nodeListing" class="row-fluid cssListing">
                <ul class="span12 unstyled">
                    <li class="row-fluid" ng-repeat="node in nodes">
                        <div class="span12">
                            <a ng-href="#/nodes/edit/{{node._id}}" class="cssListItem span12">
                                <span class="cssAvatar">
                                    <img src="/img/dummy_domain_50.png" alt="{{'CORE.LABELS.AVATAR' | translate}}"/>
                                </span>

                                <span>
                                    {{node.name}}
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
