<div class="span11" xmlns="http://www.w3.org/1999/html">
    <div class="cssBoxRight" id="tabContentClientAccess">
        <div maze-dl-wrapper class="row-fluid" dt-class="span3" dd-class="span6" label="{{'CORE.LABELS.USERNAME' | translate}}">
            <span editable-text="client.username" ng-class="{cssColorGray: !client.username}"
                  onbeforesave="updateProperty('username', $data);">
                {{ client.username || 'CORE.LABELS.USERNAME' | translate}}
            </span>
        </div>

        <div maze-dl-wrapper class="row-fluid" dt-class="span3" dd-class="span6" label="{{'CORE.LABELS.PASSWORD' | translate}}" ng-show="!passwordPrompt">
            <span class="cssColorGray" ng-click="openPasswordPrompt()" translate="CORE.LABELS.CHANGE_PASSWORD"></span>
        </div>

        <div class="row-fluid" ng-show="passwordPrompt">
            <form name="formClientAccess" novalidate="">
                <div maze-dl-wrapper class="row-fluid" dt-class="span3" dd-class="span6" label="{{'CORE.LABELS.PASSWORD_NEW' | translate}}">
                    <input type="password" id="password" ng-model="accessData.password" required>

                    <alert ng-repeat="error in accessFormErr.password" type="'danger'">
                        {{error}}
                    </alert>
                </div>

                <div maze-dl-wrapper class="row-fluid" dt-class="span3" dd-class="span6" label="{{'CORE.LABELS.PASSWORD_CONFIRM' | translate}}">
                    <input type="password" id="confirmPassword" ng-model="accessData.confirmPassword" required>

                    <alert ng-repeat="error in accessFormErr.confirmPassword" type="'danger'">
                        {{error}}
                    </alert>
                </div>

                <div class="row-fluid">
                    <button class="btn" type="button" ng-click="closePasswordPrompt()" translate="CORE.LABELS.CANCEL"></button>
                    <button class="btn btn-info" type="button" ng-click="changeClientPassword()"
                            ng-disabled="formClientAccess.$invalid" translate="CORE.LABELS.SAVE"></button>
                </div>

                <alert class="row-fluid" type="'success'" ng-show="accessSuccess">
                    <div translate="CORE.MESSAGES.PASSWORD_CHANGED"></div>
                </alert>
            </form>
        </div>

    </div>
</div>
