<ul id="tabClientDomainsList" class="unstyled cssTab">
    <li ng-repeat="domain in domains" id="tabClientDomainsListEntry-{{domain._id}}" class="row-fluid cssLine">

        <a ng-href="#/domains/edit/{{domain._id}}" title="{{'CORE.LABELS.LABEL' | translate}}" class="span8">
            {{domain.name}}
        </a>

        <div maze-html-popover ng-if="domain.nodes" placement="bottom" class="pull-right" single="true"
                               label="{{'CORE.LABELS.NODES' | translate}} ({{countObject(domain.nodes) || 0}})">
            <ul id="tabClientDomainNodesListServices-{{node._id}}" class="cssPopoverTabList unstyled pull-left row-fluid">
                <li ng-repeat="(id, node) in domain.nodes">
                    <a ng-href="#/nodes/edit/{{node._id}}" title="{{node.name}}" class="pull-left">
                        <span>
                            {{node.name}}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
